name: CoreML Player CI

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode 15
        run: sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer || sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
      - name: Run tests
        run: |
          xcodebuild test \
            -scheme "CoreML Player" \
            -destination 'platform=macOS' \
            -testPlan "CoreML Player" \
            -quiet
